*.iml
.gradle
/local.properties
.env
.idea/
.DS_Store
/build
/captures
.artifacts/
.externalNativeBuild
.cxx
keystore.properties
.vscode/

# Mobile tools for developers
google-services.json
secrets.properties
